.navbar {
    background: #3563E9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 120px;
    gap: 300px;

    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    }

.navbar .container .nav-link{
    color: white;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 120px;
    gap: 150px;

    position: absolute;
    width: 100%;
    height: 703px;
    left: 0px;
    top: 10px;

    background: #FFFFFF;
}

.main-container .btn {
    margin-top: 50px;
    padding: 10px 40px;
}

.main-container .logoead {
    display: flex;
    margin-top: 50px;
}

.main-container .logoead p {
    padding-left: 50px;
    padding-top: 7px;
    color: #757575;
    font-size: 10px;
}

.add-mainContainer {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 120px;
    gap: 150px;
    

    position: absolute;
    width: 100%;
    height: 703px;
    left: 0px;
    top: 10px;

    background: #FFFFFF;
}